/* Write your CSS code here */
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-title {
  color: #551e53;
  font-family: Roboto;
}
