/* Write your CSS code here */
.home-title {
  color: #551e53;
  text-align: center;
}
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
